img{
    max-width: 100px;
}
.panier{
    display: flex;
    background-image: url("../../assets/images/background-body-image.jpg");
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.item{
    margin: 20px;
    width: 180px;
    border-radius: 10px;
    background-color: rgb(73, 77, 81, 0.5);
    opacity: 2;
    padding: 20px;
}